body{
    background: radial-gradient(red,yellow, green);
}

.signIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.logo{
    margin-top: 5%;
    padding-bottom: 20px;
}

fieldset{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    border: none;
    padding: 20px auto ;
}

fieldset>a{
    margin-top: 15px;
    float: right!important;
}

.form-field {
    padding: 10px 20px;
    align-content: center;
}

.form-field input{
    border: 1px solid #CCC!important;
    border-radius: 2px;
    padding: 10px;
    width: 350px;
    font: 1em sans-serif;
}

#submit{
    text-align: center;
    border-radius: 10px;
    padding: 10px 25px;
    margin-top: 15px;
    width: initial!important;
    background-color: lawngreen;
}

#submit:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px){    
    .signIn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo{
        margin: 10% 0 auto;
        padding-bottom: 20px;
    }
    
    fieldset{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        width: 80%;
        border: none;
        padding: 20px;
    }
    
    .form-field {
        padding: 10px 20px;
        align-content: center;
    }
    
    #submit{
        text-align: center;
        border-radius: 10px;
        padding: 5px 25px;
        width: initial!important;
    }
}